.button {
  width: 90%;
  background-color: #78246d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 12px 40px;
  border: 2px solid var(--primary);

  &:hover {
    background: none;
    color: var(--primary);
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .button {
    width: 300px;
  }
}
