.products__container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 64px auto 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &--card {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        width: 300px;
        margin: 0 20px;
        font-size: 11px;
        color: var(--primary);
        font-weight: 300;

        &-img {
            width: 150px;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}