:root {
    --primary: #78246d;
    --dark: #000;
    --light: #fff;

    --lg: 40px;
    --md: 20px;
    --sm: 14px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;;
}