.information {
  position: relative;
  margin: 90px auto 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 14px;

  &__title {
    padding: 0 24px;
    font-weight: 300;
    color: var(--primary);
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 24px;
  }

  &__text--description {
    padding: 0 24px;
    font-size: 14px;
    font-weight: 700;
  }

  &__container--right {
    margin-top: 48px;
  }

  &__ingredients {
    margin-top: 24px;
    padding: 0 24px;

    span {
      font-weight: 700;
    }
  }

  &__strawberrys {
    &--four,
    &--five {
      display: none;
    }

    &--six {
      width: 100px;
      overflow: hidden;
      position: absolute;
      top: -32px;
      right: 0;
      z-index: -1;
    }

    &--seven {
      width: 100px;
      overflow: hidden;
      position: absolute;
      bottom: 200px;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .information {
    margin-top: 180px;

    &__title {
      font-size: 32px;
      margin-top: -60px;
      width: 500px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      column-gap: 48px;

      &--left {
        width: 20%;
      }

      &--right {
        width: auto;
      }
    }

    &__strawberrys {
      &--four {
        width: 110px;
        display: block;
        position: absolute;
        top: -350px;

        img {
          width: 100%;
        }
      }

      &--seven {
        width: 120px;
        bottom: -180px;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .information__strawberrys--five {
    position: absolute;
    display: block;
  }
}
