.products {
    background-image: url(../../assets/background/bg-familia-vitalinea.png);
    padding: 40px 0 104px;

    &__title {
        font-weight: 300;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: var(--primary);
    }

}